.main {
  display: flex;
}
.certificateWrapper {
  width: 60%;
  padding: 16px;
}
.editsWrapper {
  width: 40%;
  padding: 16px;
}
.card {
  background: #1f1f1f;
  border: 2px solid #2b2b2b;
  padding: 16px;
  margin-bottom: 32px;
}
.sticky {
  position: sticky;
  top: 32px;
}
