html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
  background: #141414;
}
body {
  background: #141414;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
}
.container {
  padding: 64px;
}
.main-title {
  color: white;
  margin: 0;
}
